@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@400;500;700&display=swap');

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    font-family: 'Farro', sans-serif;
    margin: 0
}

a {
    background-color: transparent
}

[hidden] {
    display: none
}

html {
    line-height: 1.5
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0
}

a {
    color: inherit;
    text-decoration: inherit
}

svg, video {
    display: block;
    vertical-align: middle
}

video {
    max-width: 100%;
    height: auto
}

.bg-splash{
    height: 100vh;
    width: 100vw;
    background-image: url("/img/tech-5090539_1280.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    color: whitesmoke;

}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {


}
.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50
}
input, button{
    line-height: 2rem;
}
